@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Roboto;
    src: url("/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*,
body,
html {
  font-family: Roboto;
}

body {
  background-color: #fffbf2;
}

.offer {
  background: linear-gradient(rgba(51, 33, 29, 0.9), rgba(51, 33, 29, 0.9)),
    url(/img/bg.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.swiper-button-prev,
.swiper-button-next {
  color: #fff !important;
}
